[submodule "googletest"]
	path = googletest
	url = https://github.com/iosfwd/googletest
[submodule "SBWT"]
	path = SBWT
	url = https://github.com/iosfwd/SBWT
[submodule "ggcat"]
	path = ggcat
	url = https://github.com/jnalanko/ggcat
