[submodule "sdsl-lite"]
	path = sdsl-lite
	url = https://github.com/vgteam/sdsl-lite
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "KMC"]
	path = KMC
	url = https://github.com/jnalanko/KMC/
